@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root {
  --secondary-color: #fa8572;
  --nav-font: 'Orbitron', sans-serif;;
}

.wrapper {
  max-width: 1366px;
}

.primary-bg-color {
  background: #e77c7c;
}

.header-nav {
  height: 50px;
  font-family: var(--nav-font);
}

a {
  outline: none;
}

.header-nav a {
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  outline: none;
}

.header-nav a:hover {
  color: white;
  background: var(--secondary-color);
  border-radius: 10px;
  -webkit-box-shadow: -1px 0px 5px 1px rgba(214,207,207,0.5);
  -moz-box-shadow: -1px 0px 5px 1px rgba(214,207,207,0.5);
  box-shadow: -1px 0px 5px 1px rgba(214,207,207,0.5);
}

.header-nav .burger-menu a:hover {
  border-radius: 0;
}

.burger-menu {
  transform: translate3d(-48px, 36px, 0px);
}

img {
  object-fit: cover;
}

.logo {
  width: 140px;
  height: 40px;
}

/* media queries */
@media all and (max-width: 1024px) {
  .nav span {
    display: none;
  }

  .burger-menu {
    transform: translate3d(-127px, 38px, 0px);
  }

  .header-nav a {
    font-size: 1rem;
  }
}